body,html {
    height:100%;
    margin:auto;
    padding:auto;
    font-family: "Helvetica Neue",Helvetica,Arial,"Microsoft YaHei";
}

body {
  background: #000;
  font-size: 1.2em;
  color: #ffffff;
  position:relative;
  user-select: none; /* For Chrome and Opera */
 -ms-user-select: none; /* For Internet Edge and Explorer*/
 -webkit-user-select: none; /* For Safari */
 -moz-user-select: none; /* For Firefox */
 -khtml-user-select: none; /* Konqueror HTML */
 scrollbar-width: thin;
 scrollbar-color: black white;
}

.content {
  position: absolute;
  top: 0px;
  min-height: 100vh;
}
#wrapper {
  display: flex;
  align-items: center;
  height:100%;
}

.characters {
  border: 2px solid black;
  float:left;
  position:relative;
  padding: 20px;
  margin-right:-6000em;  /*999, 5200 -> 768*/
  top:auto;
}

del {
  background: #000;
  color: #000;
  text-decoration: none;
  padding-left: 2px;
  padding-right: 2px;
}

del:hover {
  color: transparent;
  text-shadow: 0 0 6px rgba(255,255,255, 0.5);
}

timestamp {
  color: transparent;
  text-shadow: 0 0 4px rgba(255,255,255,0.6);
}

a[x-apple-data-detectors] {
  color: inherit !important;
  text-decoration: none !important;
  font-size: inherit !important;
  font-family: inherit !important;
  font-weight: inherit !important;
  line-height: inherit !important;
}
